html {
    height: 100%;
    overflow: auto;
}

body {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;

    margin: 0;
    padding: 0;

    font-family: "Open Sans", sans-serif;

    background-color: #f0f0f0;
}

h1 {
    margin: 30px 0 0px 0;
    font-family: 'Courier New', Courier, monospace;
    color: #009712;
}

hr {
    border-color: #00C416;
}

p {
    font-size: medium;
}

li {
    padding-bottom: 10px;
}

li::marker {
    color: #009712;
}

.nav-bar {
    height: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;

    font-size: 20px;
    background-color: #FFFFFF;

    border-bottom: 2px solid;
    border-bottom-color: #009712;
}

.nav-bar p {
    margin: 0;
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Courier New', Courier, monospace;
}

#visitor_text {
    color: #00C416;
}

@media all and (min-width: 1001px) {
    #visitor_text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

@media all and (max-width: 1000px) {   
    #visitor_text {
        position: relative;
        display: inline-block;
        text-align: right;
        margin-left: auto;
    }
}

.nav-bar img {
    padding: 10px 0 10px 15px;
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
}

.content {
    max-width: 1000px;
    height: auto;

    padding: 10px;
    margin: auto;

    background-color: #f7f7f7;
}

.table_container {
    width: auto;
    margin: auto;
    overflow: auto;
}

.table_container table {
    border: 1px solid #dededf;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.table_container caption {
    caption-side: top;
    text-align: left;
}

.table_container th {
    border: 1px solid #dededf;
    background-color: #edf1ec;
    color: #000000;
    padding: 5px;
}

.table_container td {
    border: 1px solid #dededf;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
}

.column1 {
    width: 25%;
}

@media all and (max-width: 416px) {   
    .column1 {
        width: 30%;
    }
}